.main-container {
  position: relative; /*do pozycjonowania obrazka*/
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* tytuł na górze */
  border: 1px solid #ccc;
  width: 27vw;
  height: 19vw;
  margin: 2vw;
  border-radius: 20%;
  border-width: 1vh;
  overflow: hidden;
  background: #fff;
  padding-top: 2vw; /* odstęp od góry */
}

.title {
  font-size: 2.6vw;
  font-weight: bold;
  text-align: center;
  color: #ffffff !important;
  margin-bottom: 2.5vw; /* odstęp pod tytułem */
  font-family: 'Segoe UI', Arial, sans-serif;
}

.description {
  font-size: 1.5vw;
  text-align: center;
  word-break: break-word;
  max-width: 90%;
  margin-top: 1vw; /* odstęp od góry */
}

.category {
  font-size: clamp(0.3em, 1.0em, 1.0em);
  font-family: Tahoma, sans-serif;
  margin-top: auto; 
  text-align: center;
  margin: 0.5vw;
  -webkit-line-clamp: 2; /* max linii */

}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; /* lub cover, jeśli chcesz wypełnić całość */
  opacity: 0.25; /* przezroczystość obrazka */
  pointer-events: none; /* żeby nie przeszkadzał w klikaniu */
  z-index: 1;
}

/* Tekst nad obrazkiem */
.title, .description {
  position: relative;
  z-index: 2;
}

.title,
.description,
.category {
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  max-width: 100%;
  box-sizing: border-box;
  /* Ograniczenie liczby linii */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.bg-blue {
  background-color: hsl(235, 100%, 40%);
  border-color: hsl(235, 100%, 26%);
  color: hsl(207, 82%, 89%);
}
.bg-green {
  background-color: hsl(120, 100%, 26%);
  border-color: hsl(120, 100%, 40%);
  color: hsl(120, 100%, 40%);
}
.bg-red {
  background-color: hsl(0, 100%, 26%);
  border-color: hsl(0, 100%, 40%);
  color: hsl(0, 100%, 40%);
}
.bg-yellow {
  background-color: hsl(60, 100%, 26%);
  border-color: hsl(60, 100%, 40%);
  color: hsl(60, 100%, 40%);
}
.bg-pink {
  background-color: hsl(330, 100%, 26%);
  border-color: hsl(330, 100%, 40%);
  color: hsl(330, 100%, 40%);
}
.bg-purple {
  background-color: hsl(270, 100%, 26%);
  border-color: hsl(270, 100%, 40%);
  color: hsl(270, 100%, 40%);
}
.bg-white {
  background-color: #fff;         /* biały */
  border-color: #ccc;             /* jasna ramka */
  color: #222;                    /* ciemny tekst na białym tle */
}