body {
  background-color: hsl(204, 72%, 48%);
  margin: 0; /* często trzeba usunąć domyślny margin */
  height: 100vh; /* żeby pokryć całe okno */
}



.bg-color{
    background-color: hsl(204, 72%, 48%);
}